/* general style */
:root{
    font-size: 16px;
    margin: 0;
}
body{
    background: url('./images/casey-horner-RmoWqDCqN2E-unsplash.jpg');
    background-repeat: no-repeat;
}
.main-container{
    max-width: 675px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    color: #fff;
    
}
img{
    max-width: 100%;
}
strong{
    font-size: 1.5em;
    font-weight: 900;
    color: blue
}
a, button{
    cursor: pointer;
}
/* lay out */
.container{
    display: flex;
    flex-direction: column;
    padding: 1.1em 1.4em;
}
.backgroundImg{
    background-color: rgba(92, 99, 92, 0.4);
    display: flex;
    padding: 1em;
    justify-content: space-evenly;
    align-items: center;
}
.backgroundImg h1:hover,
.backgroundImg h1:hover{
    color: blue;
    border-bottom: 1px solid blue;
}
.icon-div{
    width: 25%;
}
.icon-div2{
    width: 25%;
    display: none;
}


.form{
    display: flex;
    flex-direction: column;
    padding: 1.1em 0.9em;
}

.signup-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    height: 3.2em;
    width: 70%;
    border-radius: 2em;
    border: none;
    text-indent: 1.4em;
}
input:focus,
input:active,
input:hover,
input:valid,
input{
    border: 2px solid #596D48;
}
input:invalid{
    border: 1px solid red;
}
.form-item{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
    align-items: center;
}

.form-item label{
    width: 30%;
    margin-right: 1em;

}

#line{
    margin: 2.5em 0;
}
#button{
    font-size: 1.6rem;
    padding: 0.9rem 1.1em;
    border: none;
    border-radius: 2em;
    background-color: #596D48;
    color: white;
}
#message{
    color: red;
}
#member{
    margin-top: 1.2em;
    margin-bottom: 1.9em;
    font-size: 1.3rem;
    font-weight: 700;
}
.success{
    border-radius: 2em;
    background-color: rgba(128, 128,128, 0.3);
    color: white;
    font-size: 2rem;
    text-align: center;
}
@media (min-width: 678px){
    .main-container{
        max-width: 80%;
        
    }
    .container{
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1.1em 0;
    }
    .backgroundImg{
       width:40%;
        background-color: rgba(0, 0, 0, 0.3);
        height: fit-content;
        margin: auto 0;
    }
    .form{
        width: 45%;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .icon-div2{
        display: block;  
    }
}